$column-width: 20em;
$gutter-width: 0.5em;

$text-color: #333;
$text-color-muted: #EEE;
$text-color-highlighted: red;
$text-color-inverted: #AAA;
$headline-text-size: 10px;


body {
  color: $text-color;
  line-height: 1.8;
  font-family: verdana;
}


#header {
  font-size: $headline-text-size * 3;
}


#feeds {
  font-size: $headline-text-size;
  margin: 1em 0 2em 0;
  
  .title {
    margin-right: 1em;
  }
}

form {
  display: inline;
}


.day {
  font-size: $headline-text-size;
  float: left;
  margin-right: $gutter-width;
  width: $column-width;
  
  .date {
    background-color: $text-color-muted;
    color: $text-color-inverted;
    text-align: right;
    padding: 0 1em 0 1em;
  }
}

.headline {
  width: $column-width;
  display: block;
  
  .stopword {
    color: $text-color-muted;
  }
}
a.headline {
  text-decoration: none;
  color: $text-color;
}
a:hover.headline {
  text-decoration: underline;
  color: $text-color-highlighted;
  
  .stopword {
    color: $text-color-highlighted;;
  }
}