$column-width: 20em;
$gutter-width: 0.5em;

$text-color: black;
$text-color-muted: gray;
$text-color-highlighted: red;
$headline-text-size: 10px;


body {
  color: $text-color;
  line-height: 1.7;
  font-family: verdana;
}


#header {
  font-size: $headline-text-size * 3;
}


.headline {
  font-size: $headline-text-size;
  width: $column-width;
  float: left;
  margin-right: $gutter-width;
  
  .stopword {
    color: $text-color-muted;
  }
}
a.headline {
  text-decoration: none;
  color: $text-color;
}
a:hover.headline {
  text-decoration: underline;
}