body {
  color: #333333;
  line-height: 1.8;
  font-family: verdana; }

#header {
  font-size: 30px; }

#feeds {
  font-size: 10px;
  margin: 1em 0 2em 0; }
  #feeds .title {
    margin-right: 1em; }

form {
  display: inline; }

.day {
  font-size: 10px;
  float: left;
  margin-right: 0.5em;
  width: 20em; }
  .day .date {
    background-color: #eeeeee;
    color: #aaaaaa;
    text-align: right;
    padding: 0 1em 0 1em; }

.headline {
  width: 20em;
  display: block; }
  .headline .stopword {
    color: #eeeeee; }

a.headline {
  text-decoration: none;
  color: #333333; }

a:hover.headline {
  text-decoration: underline;
  color: red; }
  a:hover.headline .stopword {
    color: red; }
